{% extends "base.html" %}

{% block title %}
     Reset password
{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
        <!--<label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <button type="button" class="btn btn-secondary" value="Reset password">Secondary</button>-->
    </form>

{% endblock %}