{% extends 'post/base_html.html' %}

{% block title %}
     Post Create
{% endblock %}

{% block content %}

        <form action="{% url 'posts_create_url' %}" method="post">
            {% csrf_token %}
            <label for="titlepost" class="mt-3 mb-0">Title</label>
            <input value="" id="titlepost" name="title" class="form-control" placeholder="title" aria-label="title" aria-describedby="basic-addon1">
            <label for="textpost" class="mt-3 mb-0">Text</label>
            <input value="" id="textpost" name="text" class="form-control is-valid" placeholder="text" aria-label="text" aria-describedby="basic-addon1" style="">
            <button type="submit" class="btn btn-dark mt-2" style="float: right;" >Create</button>
        </form>


{% endblock %}
